<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        {{> header}}
    </head>
    <h2>layout.hbs</h2>
    <body>
    <div class="wrapper">
        {{{body}}}
    </div>
    {{> footer}}
    </body>
</html>

